# Django Files
__pycache__/
db.sqlite3
media/
staticfiles/

# Node_Modules / React Extra files
node_modules/
npm-debug.log*
.eslintcache

# Environment Variables
env1/
.env1/
.env1.local

# VS Code files to esxclude
.vscode/
